<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push</url>
        </http>
        <label>
            <pattern>app=financetracker,service=user-service,level=%level,env=k8s</pattern>
        </label>
        <message>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","service":"user-service","thread":"%thread","correlationId":"%X{correlationId}","userId":"%X{userId}","message":"%replace(%msg){'"','\\\"'}"}</pattern>
        </message>
        <batchMaxItems>1000</batchMaxItems>
        <batchTimeoutMs>1000</batchTimeoutMs>
    </appender>

    <appender name="LOKI_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOKI"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI_ASYNC"/>
    </root>
</configuration>
