<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push</url>
        </http>
        <labels>
            app=financetracker
            service=account-service
            level=%level
            env=k8s
        </labels>
        <structuredMetadata>
            correlationId=%X{correlationId:-}
            accountId=%X{accountId:-}
            transactionId=%X{transactionId:-}
            routingKey=%X{routingKey:-}
        </structuredMetadata>
        <message>
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","service":"account-service","thread":"%thread","logger":"%logger{36}","correlationId":"%X{correlationId:-}","accountId":"%X{accountId:-}","transactionId":"%X{transactionId:-}","routingKey":"%X{routingKey:-}","message":"%msg"}</pattern>
        </message>
        <batch>
            <maxItems>1000</maxItems>
            <timeoutMs>1000</timeoutMs>
        </batch>
    </appender>

    <appender name="LOKI_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOKI"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI_ASYNC"/>
    </root>
</configuration>